<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Modal editUser -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserLabel">Edit user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <form th:action="@{/admin/update}"
                  th:object="${user}" method="POST">
              <div class="form-group">
                <label for="formGroupIdEdit">ID</label>
                <input type="number" class="form-control" id="formGroupIdEdit" placeholder=""
                       th:field="*{id}"/>
              </div>
              <div class="form-group">
                <label for="formGroupFirstnameInput">First name</label>
                <input type="text" class="form-control" id="formGroupFirstnameEdit" placeholder=""
                       th:field="*{firstName}"/>
              </div>
              <div class="form-group">
                <label for="formGroupLastname">Last name</label>
                <input type="text" class="form-control" id="formGroupLastnameEdit" placeholder=""
                       th:field="*{lastName}"/>
              </div>
              <div class="form-group">
                <label for="formGroupLogin">Login</label>
                <input type="text" class="form-control" id="formGroupLoginEdit" placeholder=""
                       th:field="*{login}"/>
              </div>
              <div class="form-group">
                <label for="formGroupPass">Password</label>
                <input type="password" class="form-control" id="formGroupPassEdit" placeholder=""
                       th:field="*{password}"/>
              </div>

              <div class="form-group">
                <label for="FormRoleSelect">Role</label>
                <select multiple class="form-control" id="FormRoleSelect"
                        th:field="*{roles}">
                  <tr th:each="role : ${roles}">
                    <option th:value="${role.id}"><span th:text="${role.getName()}"></span>
                    </option>
                  </tr>
                </select>
              </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Edit"/>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>

    </div>
  </div>
</div>
</body>
</html>