<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="modalScripts.js"></script>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"/> </a>
    <strong><span class="navbar-text text-white" th:text="${currentUser.getLogin()}" }></span></strong>
    <span class="navbar-text text-white">&nbsp with roles: &nbsp</span>
    <span class="navbar-text text-white"><a th:each="role:*{currentUser.getRoles()}"
                                            th:text="${role.getName().substring(5).concat(' ')}"></a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>

    </div>
</nav>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-3 bg-white min-vh-100">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#user" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            </div>
        </div>
        <div class="col-9">
            <h1>Admin panel</h1>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#admin" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#newUser" role="tab"
                               aria-controls="contact" aria-selected="false">New user</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="home-tab">
                            <form>
                                <div class="col border bg-light">
                                    <p><h6>All users</h6>
                                </div>
                                <div class="col border bg-white">
                                    <br />
                                <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First name</th>
                                            <th scope="col">Last name</th>
                                            <th scope="col">Login</th>
                                            <th scope="col">Password</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}" th:id="${user.id}">
                                            <td><span th:text="${user.id}"> # </span></td>
                                            <td><span th:text="${user.firstName}"> First name </span></td>
                                            <td><span th:text="${user.lastName}"> Last name </span></td>
                                            <td><span th:text="${user.login}"> Login </span></td>
                                            <td><span th:text="${user.password}"> Password </span></td>
                                            <td><span th:each="role : ${user.getRoles()}" th:value="${role.getId()}"
                                                      th:text="${role.getName().concat(' ')}"> Roles </span></td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#editUser" th:data-id="${user.id}">Edit
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#deleteUser" th:data-id="${user.id}">Delete
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="profile-tab"
                             sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="container">
                                <h6>Add new user</h6>

                                <div class="row justify-content-center align-items-center">

                                    <form th:action="@{/admin/save}"
                                          th:object="${user}" method="POST">
                                        <div class="form-group">
                                            <label for="formGroupFirstnameInput">First name</label>
                                            <input type="text" class="form-control" id="formGroupFirstnameInput"
                                                   placeholder="" th:field="*{firstName}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupLastname">Last name</label>
                                            <input type="text" class="form-control" id="formGroupLastname"
                                                   placeholder=""
                                                   th:field="*{lastName}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupLogin">Login</label>
                                            <input type="text" class="form-control" id="formGroupLogin" placeholder=""
                                                   th:field="*{login}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupPass">Password</label>
                                            <input type="password" class="form-control" id="formGroupPass"
                                                   placeholder=""
                                                   th:field="*{password}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleFormControlSelect2">Role</label>
                                            <select multiple class="form-control" id="exampleFormControlSelect2"
                                                    th:field="*{roles}">
                                                <tr th:each="role : ${roles}">
                                                    <option th:value="${role.id}"><span
                                                            th:text="${role.getName()}"></span>
                                                    </option>
                                                </tr>
                                            </select>
                                        </div>
                                        <button class="btn btn-success" type="submit">Add new user</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                    <div class="container-fluid">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Login</th>
                                <th scope="col">Password</th>
                                <th scope="col">Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span th:text="${currentUser.id}"> # </span></td>
                                <td><span th:text="${currentUser.firstName}"> First name </span></td>
                                <td><span th:text="${currentUser.lastName}"> Last name </span></td>
                                <td><span th:text="${currentUser.login}"> Login </span></td>
                                <td><span th:text="${currentUser.password}"> Password </span></td>
                                <td><span th:each="role : ${currentUser.getRoles()}" th:value="${role.getId()}"
                                          th:text="${role.getName().concat(' ')}"> Roles </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light">

        <!-- Modal editUser -->
        <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUserLabel"
             aria-hidden="true" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <form th:action="@{/admin/update}"
                                      th:object="${user}" method="POST">
                                    <div class="form-group">
                                        <label for="formGroupIdEdit">ID</label>
                                        <input type="number" class="form-control" id="formGroupIdEdit" placeholder=""
                                               th:field="*{id}" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupFirstnameInput">First name</label>
                                        <input type="text" class="form-control" id="formGroupFirstnameEdit"
                                               placeholder=""
                                               th:field="*{firstName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupLastname">Last name</label>
                                        <input type="text" class="form-control" id="formGroupLastnameEdit"
                                               placeholder=""
                                               th:field="*{lastName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupLogin">Login</label>
                                        <input type="text" class="form-control" id="formGroupLoginEdit" placeholder=""
                                               th:field="*{login}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupPass">Password</label>
                                        <input type="password" class="form-control" id="formGroupPassEdit"
                                               placeholder=""
                                               th:field="*{password}"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="FormRoleSelect">Role</label>
                                        <select multiple class="form-control" id="FormRoleSelect"
                                                th:field="*{roles}">
                                            <tr th:each="role : ${roles}">
                                                <option th:value="${role.id}"><span th:text="${role.getName()}"></span>
                                                </option>
                                            </tr>
                                        </select>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Edit"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Modal delete user -->
        <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel"
             aria-hidden="true" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <form th:action="@{/admin/deleteUser(id=${user.id})}" method="get" th:object="${user}">
                                    <div class="form-group">
                                        <label for="formGroupIdDelete">ID</label>
                                        <input type="number" class="form-control" id="formGroupIdDelete" placeholder=""
                                               th:field="${user.id}" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupFirstnameDelete">First name</label>
                                        <input type="text" class="form-control" id="formGroupFirstnameDelete"
                                               placeholder="" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupLastnameDelete">Last name</label>
                                        <input type="text" class="form-control" id="formGroupLastnameDelete"
                                               placeholder="" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupLoginDelete">Login</label>
                                        <input type="text" class="form-control" id="formGroupLoginDelete" placeholder=""
                                               readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupPassDelete">Password</label>
                                        <input type="password" class="form-control" id="formGroupPassDelete"
                                               placeholder="" readonly/>
                                    </div>

                                    <div class="form-group">
                                        <label for="FormRoleSelectDelete">Role</label>
                                        <select multiple class="form-control" id="FormRoleSelectDelete"
                                                th:field="*{roles}">
                                            <tr th:each="role : ${roles}">
                                                <option th:value="${role.id}"><span th:text="${role.getName()}"></span>
                                                </option>
                                            </tr>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Delete"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </form>

                </div>
            </div>
        </div>


</body>
</html>