<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>View contact</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
<h1 th:text="'View a Contact:'" />

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin}">Back to Contact List</a>
</div>
<br/>
    <table border="0">
        <tr th:if="${user.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>:</td>
            <td th:utext="${user.firstName}">...</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>:</td>
            <td th:utext="${user.lastName}">...</td>
        </tr>
    </table>
</form>
<br/>
<div th:replace="footer :: footer"></div>
</body>
</html>